.mm
{ border:solid;height:636px;width: 357px;
background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
background-size:cover; 
}
.nn
{
    border:solid;https://www.google.com/imgres?imgurl=https%3A%2F%2Fhips.hearstapps.com%2Fhmg-prod.s3.amazonaws.com%2Fimages%2Fbeach-quotes-1559667853.jpg%3Fcrop%3D1.00xw%3A0.751xh%3B0%2C0.202xh%26resize%3D1200%3A*&imgrefurl=https%3A%2F%2Fwww.goodhousekeeping.com%2Flife%2Fg27723963%2Fbeach-quotes%2F&tbnid=VtK5DjafdNmsmM&vet=12ahUKEwjc7rW72s_5AhUmk9gFHShnAgEQMygMegUIARD0AQ..i&docid=kphUiCPCroVKVM&w=1200&h=601&q=wave%20images&hl=en-US&ved=2ahUKEwjc7rW72s_5AhUmk9gFHShnAgEQMygMegUIARD0AQ
    height:200px;
    width: 357px; <button class="b1">save draft</button>
    margin-bottom:430px;
    margin-top:430px;
    background-color: white;
    border-radius :20px;
}
p{
    font-size: 30px;
    color: #5752ab;
    margin-bottom: 10px;

}
h3{
    color:black;

}
.w1{
    background-color: #5752ab;
    color: white;
    margin-left: 80px;
    height: 30px;
}
.b1{
    height: 30px;
    margin-left: 10px;

}